﻿@{
    ViewBag.Title = "Home Page";
}
<style>
    .btn {
        box-shadow: 5px 5px 5px #6f6a6a;
    }
</style>

<div class="row">
    <div class="col-sm-3 col-sm-offset-3" style="margin-top: 15px;">
        <a href="@Url.Action("Index", "Teams")" class="btn btn-default btn-lg btn-block">
            <span class="fa fa-users" style="margin-right: 10px;">
            </span>Manage Teams
        </a>
    </div>
    <div class="col-sm-3" style="margin-top: 15px;">
        <a href="@Url.Action("Index", "Players")" class="btn btn-default btn-lg btn-block">
            <span class="glyphicon glyphicon-user" style="margin-right: 10px;">
            </span>Manage Players
        </a>
    </div>
    </div>


@*<div>
    @Html.ActionLink("List of teams", "Index", "Teams")<br />
    @Html.ActionLink("List of players", "Index", "Players")
</div>*@

