﻿@{

}
@model HRproject.Models.PoliciesViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <form method="post" action="~/Home/CreatePolicy">
            <p>
                <label>New Policy Name</label>
                <input type="text" name="Name" />
            </p>
            <p>
                <label>New Policy Description</label>
                @Html.TextArea("Text", "Please enter policy description with no commas (for now)")
            </p>
            <p>
                <label>Select Category</label>
                @Html.DropDownList("Category", Model.Categories, "-- Select Category--")
                <input type="button" value="Add New Category" onclick="location.href='@Url.Action("ManageCategories", "Home")'" />
            </p>
            <p>
                <input type="submit" value="Add Policy" />
            </p>
        </form>
    </div>
</body>
</html>
