﻿@{
    ViewBag.Title = "View Policies";
}
@model HRproject.Models.PoliciesViewModel

<div>
    @foreach (var category in Model.Categories)
    {
        var sortedPol = Model.Policies.Where(p => p.Category == category.Value);
        <h4>@category.Text</h4>
    <table>
        <tr>
            <td>
                <b>Name</b>
            </td>
            <td>
                <b>Policy</b>
            </td>
        </tr>
        @if (sortedPol.Count() > 0)
        {
            foreach (var policy in sortedPol)
            {
                <tr>
                    <td>
                        @policy.Name
                    </td>
                    <td>
                        @policy.Text
                    </td>
                </tr>
            }
        }
    </table>
    }
</div>