﻿@{
    ViewBag.Title = "Manage Contacts";
}

@model HRproject.Models.PoliciesViewModel

<div>
    <h1>Existing Categories</h1>
    <table>@if (Model.Categories.Count > 0)
        {
            foreach (var category in Model.Categories)
            {
                <tr>
                    <td>
                        @category.Text
                    </td>
                </tr>
            }
        }
    </table>
</div>

<div>
    <h1>Add Category</h1>
    <form method="post" action="~/Home/CreateCategory">
        <input type="text" name="Name" value="Enter Name of New Category"/>
        <input type="submit" value="Add" />
    </form>
</div>