﻿@{
    ViewBag.Title = "About";
}

@model HRproject.Models.PoliciesViewModel

<div>
    <input type="button" value="Add Policy" onclick="location.href='@Url.Action("AddPolicy", "Home")'" />
</div>

<div>
    <table>
        <tr>
            <th>
                <b>Name</b>
            </th>
            <th>
                <b>Policy</b>
            </th>
        </tr>
        @foreach (var policy in Model.Policies)
        {
            <tr>
                <td>
                    @policy.Name
                </td>
                <td>
                    @policy.Text
                </td>
                <td>
                    <form action="~/Home/DeletePolicy" method="post">
                        <input type="hidden" value="@policy.Name" name="Name"/>
                        <input type="submit" value="Delete" />
                    </form>
                </td>
            </tr>
        }
    </table>
</div>