﻿@model BaseBall.Models.Player

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Player</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlayerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BattingAverage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BattingAverage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CareerLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CareerLength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team.TeamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.TeamName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PlayerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
