﻿@model IEnumerable<BaseBall.Models.Player>

@{
    ViewBag.Title = "Index";
}
<head>
    <link rel="stylesheet" href="~/Content/theme.default.css" />
    <link href="~/Content/jquery.tablesorter.pager.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery.tablesorter.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.tablesorter.widgets.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.tablesorter.combined.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.tablesorter.pager.js" type="text/javascript"></script>
    <script src="~/Scripts/CustomScripts/validation.js"></script>
</head>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table tablesorter">
    <thead>
        <tr>
            <th >
                @Html.DisplayNameFor(model => model.PlayerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BattingAverage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CareerLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team.TeamName)
            </th>
            <th ></th>
        </tr>
    </thead>

<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BattingAverage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CareerLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.TeamName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PlayerID }) |
                @Html.ActionLink("Details", "Details", new { id = item.PlayerID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PlayerID })
            </td>
        </tr>
    }
</tbody>

</table>

<script type="text/javascript">
  
    $(function () {
        $("table.tablesorter").tablesorter()
        .tablesorterPager({ container: $("#pager")});
    });

</script>